<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<img src="https://static.thenounproject.com/png/423483-200.png" height="75" onclick="window.location='/';"/>
		<div class="center">
			<br/><br/>
			<h1>Feed scheduler</h1>
			<br/>
			<div>

			</div>
			<div>
				<form method="post" action="/delete_schedule">
					<% schedules.forEach(function(sc) { %>
						<div class="schedules">
							<button class="btn btn-danger" name="button" value="<%= sc.id %>">-</button>
							<%= sc.day+" "+sc.hour+" - "+sc.portions%>  portions
							<br/><br/>
						</div>
					<% }) %>
				</form>
				<form method="post" action="/add_schedule">
				<button class="btn btn-success">+</button>
				<input class="form-control" type="datetime-local"  id="example-datetime-local-input" name="date">
				<p>Portions : </p>
						<select  name="ps">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
				</form>
			</div>
		</div>

</html>



<style>
	@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

	.center h1{
		font-family : 'Lexend Deca';
	}

	div * {
		margin : 5px;
	}

	.form-control{
		display : inline !important;
		width : 25% !important;
	}

	.center{
		margin : auto;
		text-align: center;
	}

	.center input{
		width : 20%;
	}

	.schedules{
		font-size: 25px;
	}
</style>