 @import url('https://fonts.googleapis.com/css?family=Lexend+Deca')

 .center{
 	margin : auto;
 	text-align: center;
 }

 

.center h1{
 	font-family : 'Lexend Deca';
 }

#labelPortions {
	font-size : 35px;
}


#portions-selector {
	font-size: 35px;
}
